html {
    font-size: 16px !important;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.group:hover .group-hover\:text-primary-purple {
    --tw-text-opacity: 1;
    color: rgb(149 122 225/var(--tw-text-opacity))
}

.group:hover .group-hover\:fill-primary-purple {
    fill: #957AE1
}

.group:hover .group-hover\:stroke-primary-purple {
    stroke: #957AE1
}


.group:active .group-active\:text-primary-purple {
    --tw-text-opacity: 1;
    color: rgb(149 122 225/var(--tw-text-opacity))
}

.group:active .group-active\:fill-primary-purple {
    fill: #957AE1
}

.group:active .group-active\:stroke-primary-purple {
    stroke: #957AE1
}

.group:focus .group-focus\:text-primary-purple {
    --tw-text-opacity: 1;
    color: rgb(149 122 225/var(--tw-text-opacity))
}

.group:focus .group-focus\:fill-primary-purple {
    fill: #957AE1
}

.group:focus .group-focus\:stroke-primary-purple {
    stroke: #957AE1
}

body #filterBtns button.active {
    color: #5429FF;
    background: rgba(84, 41, 255, 0.1);
}

.special span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}

.special .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background:#957AE1;
    transition: 5s;
    box-shadow: inset 0 0 50px rgba(0,0,0, .5);
}
.special .liquid::after,

.special .liquid::before{
    content: "";
    width: 200%;
    height: 200%;
    top:0;
    left:50%;
    position: absolute;
    background: #F8F8F8;
    transform: translate(-50%, -75%);
}

.special .liquid::before{
    border-radius: 45%;
    background: rgba(20,20,20,1);
    animation: animate 5s linear infinite;
}



.special .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 1);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.special {
    position: absolute;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
}

.special:hover .liquid {
    top: -120px
}