html {
    font-size: 16px !important;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.group:hover .group-hover\:text-primary-purple {
    --tw-text-opacity: 1;
    color: rgb(149 122 225/var(--tw-text-opacity))
}

.group:hover .group-hover\:fill-primary-purple {
    fill:"#957AE1"
}

.group:hover .group-hover\:stroke-primary-purple {
    stroke: "#957AE1"
}

